<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

    {% block pagename %}
    <h1>Заголовки страниц</h1>
    {% endblock %}

    <hr>
    {% block menu %}
    <ul style="list-style-type:none;">
        <li><h2><a href="/task1/platform">Главная</a></h2></li>
        <li><h2><a href="/task1/games">Магазин</a></h2></li>
        <li><h2><a href="/task1/cart">Корзина</a></h2></li>
    </ul>
    {% endblock %}

    <hr>

    <div style="margin-left: 40px;">
    {% block content %}
    <p>Содержимое страницы</p>
    {% endblock %}
    </div>


</body>
</html>